@import url("https://fonts.googleapis.com/css?family=Lato:300,400,900");
/* Style.css
-------------
-------------
-----par-----
Néphélie LAMBRINIDIS */
body, input, select, textarea, head
{
	color: #7c8081;
	font-family: 'Lato', sans-serif;
	font-size: 15pt;
	font-weight: 300;
	letter-spacing: 0.025em;
	line-height: 1.75em;
}
html
{
	box-sizing: border-box;
	min-height: 100%;
	min-width: 100%;
}
body
{
	margin: 0px;
	width: 100%;	
	background-color: black;
	font-size: 16px;
	line-height: normal;
	color: white;
	background: no-repeat, linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)), url(images/banner.jpg);
	background-attachment: fixed;
	background-size: cover;
	min-height: 100%;
	position: absolute;
}
div
{
	text-align: center;
}
div img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
h2
{
	text-transform: uppercase;
}
header a
{
	font-weight: bold;
	text-decoration: none;
}
a
{
	color: white;
	text-decoration: underline;
	text-decoration-style: dotted;
}

/*Header*/
#head
{
	text-transform: uppercase;
	width: 100%;
}
#logo
{
	display: flex;
	justify-content: space-between;
	position: sticky;
}
#nav
{
	/*display: flex;*/
	float: right;
	justify-content: flex-end;
}
#img
{
	vertical-align: middle;
}
#cont
{
	/*display: flex;*/
	float: left;
	flex-direction: row;
	justify-content: flex-start;

}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
figcaption
{
	align-content: center;
}

#menu
{
	justify-content: flex-end;
}
header div .element a
{
	text-decoration: none;
	margin: 10px 10px 10px 10px;
}
.element:hover
{
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	border: white solid 1px;
	padding: 5px;
	margin: 10px;

}

/*Vidéo*/
#vidéo
{
	margin: 100px;
	overflow:hidden;
	padding-bottom:56.25%;
	position:relative; height:0;
}
#vidéo iframe
{
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
}

/*Banner*/
#banner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		cursor: default;
		height: 100vh;
		min-height: 35em;
		overflow: hidden;
		position: relative;
		text-align: center;
	}

#center
{
	background-color: rgba(70,49,89,0.15);
}
.box
{
	text-align: center;
	padding: 10px 10px;
	margin: 0 1px;
}
.action
{
	display: inline-block;
	text-align: center;
	padding: 0 3px 0 0px;

}

		#banner h2 {

			display: inline-block;
			font-size: 1.75em;
			opacity: 1;
			padding: 0.35em 1em;
			position: relative;
		}

			#banner h2:before, #banner h2:after
			{
				background: #fff;
				content: '';
				display: block;
				height: 2px;
				position: absolute;
				width: 100%;
			}

			#banner h2:before {
				top: 0;
				left: 0;
			}

			#banner h2:after {
				bottom: 0;
				right: 0;
			}

			#banner p {
				letter-spacing: 0.225em;
				text-transform: uppercase;
			}

			#banner ul a, ul.action a
			{
				text-decoration: none;
				text-transform: uppercase;
				font-weight: bold;
				border: 1px white solid;
				padding: 5px;
			}

/*Section, Global Parameters*/
#section
{
	width: 100%;
	background-color: white;
	text-align: center;
	padding: 50px 0px 50px 0px;
	font-size: 200%;
	color: black;
}
article
{
    border:black 20px;
}
article header
{
	text-align: center;
	font-weight: normal;
}
/*Section*/
.caracteristics
{
	justify-content: space-around;
	background-color: white;
	color: black;
	padding: 10px;
	margin: 50px;
}

/*Page contact */
#contact
{
	display: flex;	
}

/*footer*/
footer
{
	bottom: 0px;
	position: relative;
	min-width: 100%;
}
ul {
	list-style:none;
	margin-left:0;
	padding-left:0;
}
li {
	margin-bottom: 0px;/* à adapter */
}
#design
{
	margin: auto;
}

.body
{
	min-height: 100%;
	position: absolute;
	min-width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* Historique + articles */

.article p
{
    margin-top: 0px;
    text-align: justify;
    padding: 1em;
}
.article
{
    width:70%;
    margin:auto;
    padding: 1em;
}

.text_article
{
    height: 30em;
    overflow: hidden;
    color: white;
}

.t3
{
    text-align:center;
    font-size:2em;
    margin-bottom:0px;
    font-weight: bold;
    padding: 50px;
}

.text_box_article 
{
	border: 0.5px;
	border-color: black;
	border-radius: 5px;
	border-style: solid;	
    background-color: rgb(255,255,255,0.3);
	color: white;
}

p img
{
	width: 25%;
	object-fit: contain;
}

@media screen and (min-width: 900px) {
	.conteneur
	{
		display: flex;
		flex-direction: row;
		font-size: 20px;
		align-self: center;
	}

	#social
	{
		display: flex;
		align-items: center;
	}
	#social img
	{
		margin-left: 100px;
	}

	.imgconten
	{
		overflow: hidden;
		width: 100%;
		height: 100%;
	}
}
@media screen and (max-width: 900px) {
	.conteneur
	{
		display: flex;
		flex-direction: column;
		font-size: 20px;
		align-self: center;
	}

	#social
	{
		display: flex;
		align-items: center;
	}
	#social a
	{
		margin:auto;
	}

	.imgconten
	{
		overflow: hidden;
	}
}
 /*Barres progression*/

 .Progress {
 	margin: 0 5px 0 5px;
 }

.center-div {
	margin: 0 auto;
}
p.text-align{
	margin: 1% auto;
	text-align: center;

}
#progression
{
	background-color: #3a373a;
	border-radius: 10px 10px;

	height: auto;
	margin: 0 auto 10% auto;
	width: 50%;

	padding: 2% 2%;
}

.progress-bar {
	width: 300px;
	height: 24px;
	padding: 4px;
	background-color: #191919;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
	-webkit-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
	-moz-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
}

.progress-bar:before {
	content: '';
	display: block;
	position: absolute;
	height: 24px;
	background: #999;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
}
#jeu.progress-bar:before{
	width: 240px;
}
#site.progress-bar:before{
	 width: 270px;
 }
#bataille.progress-bar:before{
	width: 300px;
}
#navigation.progress-bar:before {
    width: 300px;
}
#OKCoco.progress-bar:before{
	width: 240px;
}
#combat.progress-bar:before{
	width: 300px;
}
#tresor.progress-bar:before{
	width: 150px;
}
#simon.progress-bar:before{
	width: 150px;
}
#port.progress-bar:before{
    width: 300px;
}
#taverne.progress-bar:before{
    width: 300px;
}
#sauv.progress-bar:before{
    width: 300px;
}
#stat.progress-bar:before{
    width: 300px;
}
#magasin.progress-bar:before{
	width: 300px;
}

.blue:before {
	background: #1cccff;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1cccff), to(#126e8e));
	background: -moz-linear-gradient(top, #1cccff, #126e8e);
}

.red:before {
	background: #ff1712;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff2323), to(#951818));
	background: -moz-linear-gradient(top, #ff2323, #951818);
}

.green:before {
	background: #adff01;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#adff01), to(#568201));
	background: -moz-linear-gradient(top, #adff01, #568201);
}

.orange:before {
	background: #f90;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f90), to(#f60));
	background: -moz-linear-gradient(top, #f90, #f60);
}

.yellow:before {
	background: #ffdc22;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffdc22), to(#ff9900));
	background: -moz-linear-gradient(top, #ffdc22, #ff9900);
}

.purple:before {
	background: #d987ff;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d987ff), to(#593869));
	background: -moz-linear-gradient(top, #d987ff, #593869);
}