@import url("https://fonts.googleapis.com/css?family=Lato:300,400,900");
/* Style.css
-------------
-------------
-----par-----
Néphélie LAMBRINIDIS */
body, input, select, textarea, head
{
	color: #7c8081;
	font-family: 'Lato', sans-serif;
	font-size: 15pt;
	font-weight: 300;
	letter-spacing: 0.025em;
	line-height: 1.75em;
}
html
{
	box-sizing: border-box;
	min-height: 100%;
	min-width: 100%;
}
body
{
	margin: 0px;
	width: 100%;	
	background-color: black;
	font-size: 16px;
	line-height: normal;
	color: white;
	background: no-repeat;
	background-attachment: fixed;
	background-image: url(images/banner.jpg);
	background-size: cover;
	min-height: 100%;
	position: absolute;
}
div
{
	text-align: center;
}
div img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
h2
{
	text-transform: uppercase;
}
header a
{
	font-weight: bold;
	text-decoration: none;
}
a
{
	color: white;
	text-decoration: underline;
	text-decoration-style: dotted;
}

/*Header*/
#head
{
	text-transform: uppercase;
	width: 100%;
}
#logo
{
	display: flex;
	justify-content: space-between;
	position: sticky;
}
#nav
{
	display: flex;
	justify-content: flex-end;
}
#img
{
	vertical-align: middle;
}
#cont
{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.conteneur
{
	display: flex;
	flex-direction: row;
	font-size: 20px;
	align-self: center;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
figcaption
{
	align-content: center;
}
.imgconten
{
	overflow: hidden;
}
#menu
{
	justify-content: flex-end;
}
header div .element a
{
	text-decoration: none;
	margin: 10px 10px 10px 10px;
}
.element:hover
{
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	border: white solid 1px;
	padding: 5px;
	margin: 10px;

}

/*Vidéo*/
#vidéo
{
	margin: 100px;
}

/*Banner*/
#banner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		cursor: default;
		height: 100vh;
		min-height: 35em;
		overflow: hidden;
		position: relative;
		text-align: center;
	}
#center
{
	background-color: rgba(70,49,89,0.15);
}
.box
{
	text-align: center;
	padding: 10px 10px;
	margin: 0 1px;
}
.action
{
	display: inline-block;
	text-align: center;
	padding: 0 3px 0 0px;

}

		#banner h2 {

			display: inline-block;
			font-size: 1.75em;
			opacity: 1;
			padding: 0.35em 1em;
			position: relative;
		}

			#banner h2:before, #banner h2:after
			{
				background: #fff;
				content: '';
				display: block;
				height: 2px;
				position: absolute;
				width: 100%;
			}

			#banner h2:before {
				top: 0;
				left: 0;
			}

			#banner h2:after {
				bottom: 0;
				right: 0;
			}

			#banner p {
				letter-spacing: 0.225em;
				text-transform: uppercase;
			}

			#banner ul a, ul.action a
			{
				text-decoration: none;
				text-transform: uppercase;
				font-weight: bold;
				border: 1px white solid;
				padding: 5px;
			}

/*Section, Global Parameters*/
#section
{
	width: 100%;
	background-color: white;
	text-align: center;
	padding: 50px 0px 50px 0px;
	font-size: 200%;
	color: #A9A9A9;
}
article
{
    border:black 20px;
}
article header
{
	text-align: center;
	font-weight: normal;
}
/*Section*/
.caracteristics
{
	justify-content: space-around;
	background-color: white;
	color: black;
	padding: 10px;
	margin: 50px;
}

/*Page contact */
#contact
{
	display: flex;	
}

/*footer*/
footer
{
	bottom: 0px;
	position: relative;
	min-width: 100%;
}
ul {
	list-style:none;
	margin-left:0;
	padding-left:0;
}
li {
	margin-bottom: 0px;/* à adapter */
}
#design
{
	margin: auto;
}
#social
{
	display: flex;
	align-items: center;
}
#social img
{
	margin-left: 100px;
}

.body
{
	min-height: 100%;
	position: absolute;
	min-width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* Historique + articles */

.article p
{
    margin-top: 0px;
    text-align: justify;
    padding: 1em;
}
.article
{
    width:70%;
    margin:auto;
    padding: 1em;
}

.text_article
{
    height: 30em;
    overflow: hidden;
    color: black;
}

.t3
{
    text-align:center;
    color:black;
    font-size:2em;
    margin-bottom:0px;
    font-weight: bold;
    padding: 50px;
}

.text_box_article 
{
	border: 0.5px;
	border-color: black;
	border-radius: 5px;
	border-style: solid;	
    background-color: rgb(255,255,255,0.3);
}
